* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  scrollbar-width: none;
  -ms-overflow-style: none;

  /* not draggable */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  max-width: 100vw;

  overflow-x: hidden;

  user-select: none;

  user-zoom: "none";
}

.ticker-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: #000;
}
